<mat-card>
  <h1>Signup form</h1>
  <form (submit)="onFormSubmit(signupform)" #signupform="ngForm">
    <mat-form-field>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        matInput
        ngModel
        required
        email
      />
    </mat-form-field>
    <mat-form-field>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        matInput
        ngModel
        required
      />
    </mat-form-field>
    <button mat-raised-button color="accent">signup</button>
  </form>
</mat-card>
